<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta name="charset" content="UTF-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="app" class="p-5">
      <h1><%= htmlWebpackPlugin.options.title %></h1>
      <nav class="navbar mt-3 gap-2">
        <ul class="nav nav-tabs flex-grow-1"></ul>
        <fieldset class="btn-group">
          <button class="btn btn-outline-primary add">Add</button>
          <button class="btn btn-outline-primary del">Delete</button>
        </fieldset>
        <template>
          <li class="nav-item">
            <a
              class="nav-link"
              style="
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                text-overflow: ellipsis;
              "
            ></a>
          </li>
        </template>
      </nav>
      <textarea class="px-2 w-100" style="height: 50vh"></textarea>
    </div>
  </body>
</html>
